*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
.center{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;   
    flex-wrap: wrap;   
    padding: 0 2%
     
}

header{
    background-color: rgba(255, 255, 255, 0.288);
    padding: 20px 0;
}

.logo{
    color:rgb(7, 179, 206);
}

.logo h2{
    font-weight: bold;
    font-size:  18px;

}

.menu{
    width: 80%;
    text-align: right;
}

.menu a{
    padding: 10px;
    color:rgb(7, 179, 206);
    font-size: 14px;
    text-decoration: none;
    margin-right: 30px;
    transform: 0.5s;
    
}

.menu a:hover{
    padding: 10px;
    background-color: rgba(1, 37, 110, 0.505);
    color: rgb(255, 255, 255);
}

section.main{
    background-image: url("../img/fundo.png");
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main_cta{
    width: 100%;
    text-align: center;
    margin: 60px 0;
}
.main_cta h2{
    color:rgb(2, 9, 28);
    font-size: 40px;
}
.main_cta p{
    color: yellow;
    font-size: 19px;
    margin: 10px 0;
}

.main_cta button{
    background-color: rgb(23, 173, 232);
    display: inline-block;
    padding: 8px 30px;
    color:white;
    border-radius: 6px;
    font-size: 16px;
    border:0;
    cursor: pointer;
}

.criacoes{
    display: flex;
    flex-wrap: wrap;
}
.ideiascriacoes{
    border-radius: 10px;
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
}
.ideiascriacoes h2{
    color:rgb(2, 9, 28);
    margin: 10px 0 ;
    font-size: 17px;
}

.ideiascriacoes p{
    color: grey;
    font-size: 14px;
    line-height: 30px;

}

@media screen and (max-width: 768px) {
    .ideiascriacoes{
        width: 100px;
        margin-bottom: 20px;
    }
}
